a, a:visited {text-decoration: none; color:#000000 }
A:hover	{text-decoration: underline; color: #ff5555;}

body{
	margin:				0px;
	border: 1px solid #999999;
	font-size:12px; font-family:Arial,ו,Arial,Sans-serif; line-height:18px; margin-left:0px
	

}