BODY {
	SCROLLBAR-FACE-COLOR: #E2EFF4;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #5C9ABC;
	SCROLLBAR-ARROW-COLOR: #5C9ABC;
	SCROLLBAR-DARKSHADOW-COLOR: #5C9ABC;
	SCROLLBAR-BASE-COLOR: #FFFFFF;
}
td {
	font-size: 9pt;
}
.input1 {
	height: 21px;
	width: 151px;
	background-image: url(input1.jpg);
	border: 0px;
	left: 5px;
	top: 5px;
	right: 5px;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 5px;
}
.input2 {
	height: 21px;
	width: 123px;
	background-image: url(input1.jpg);
	border: 0px;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 5px;


}
.btn1 {
	padding-top: 3px;

}
a {
	text-decoration: none;
	color: #484833;

}
a:hover {
	text-decoration: underline;
	color: #6B6B4B;

}
.back1 {
	background-repeat: no-repeat;
}
.back2 {
	background-repeat: repeat-x;
}
.back3 {
	background-repeat: repeat-x;
	background-position: bottom;

}
.p14 {
	font-size: 14px;
	padding-top: 2px;
	font-weight: bolder;

}
.tree {
	padding-left: 5px;

}
.input3 {
	border: 0px solid #484833;
}.z {
	border: thin groove #DED196;
}
.inputwh {
	background-color: #EDF7DF;
	border: 0px none;
	margin: 0px;
	padding: 0px;
}

.style {
	FONT-SIZE: 12px;
	WIDTH: 100%;
	COLOR: #004F00;
	POSITION: relative;
	text-align: left;
	font-weight: normal;
	padding-left: 15px;
	padding-right: 10px;
}
.style4 {
	font-size: 20px;
	font-weight: bold;
	color: #17548A;
}

input{
	color: #484833; 
	background-color: #F9FEF3; 
	border: #A59D9D;
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
}
.input_btn{
	color: #484833; 
	background-color: #F9FEF3; 
	border: #A59D9D;
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
}
#menuBar {
	position: absolute;
	right: -202px;
	width: 0px;
	top: 0px;
	clip: rect()
}

#glider {
	position: absolute;
	right: 200px;
	top: 0px;
	width: 0px
}

.lt1{

	font-family: "ו";
	font-size: 9pt;
	font-weight: normal;
	color: #484833;
	text-decoration: none;
	text-align:center;
	background-color: #FFFFFF;
}
.lt2 {

	font-family: "ו";
	font-size: 9pt;
	font-weight: normal;
	color: #484833;
	text-decoration: none;
	text-align:center;
	background-color: #F2F5EB;
}
.title {
	font-size: 10pt;
	padding-top: 2px;
	padding-left:5px;
	font-weight: bolder;
	color: #15428B;
	background-color: #E8EFFF;
	text-align:left;
}
.title_center {
	font-size: 10pt;
	padding-top: 2px;
	font-weight: bolder;
	color: #15428B;
	background-color: #E8EFFF;
	text-align:center;
}
.divStyle{
	PADDING-RIGHT:0px;
	OVERFLOW-Y:auto;
	OVERFLOW-X:auto;
	PADDING-LEFT:0px;
	SCROLLBAR-FACE-COLOR: #E2EFF4;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #5C9ABC;
	SCROLLBAR-ARROW-COLOR: #5C9ABC;
	SCROLLBAR-DARKSHADOW-COLOR: #5C9ABC;
	SCROLLBAR-BASE-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR:#ffffff;
	PADDING-BOTTOM:0px;
	OVERFLOW:auto;
	WIDTH:100%;
	COLOR:blue;
	
	LINE-HEIGHT:100%;
	PADDING-TOP:0px;
	LETTER-SPACING:1pt;
	HEIGHT:100;
	TEXT-ALIGN:left
}