/* ::::: http://gfh.ssking.com/css/StyleSheet.css ::::: */

body { margin-top: 0px; background-color: rgb(218, 233, 250); }
table { font-family: "宋体"; font-size: 9pt; }
a:link, a:active, a:visited { font-size: 9pt; color: rgb(0, 0, 0); text-decoration: none; }
a:hover { font-size: 9pt; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(6, 108, 210); text-decoration: underline; }
td { font-size: 9pt; }
#apDiv1 { position: absolute; top: 4px; z-index: 1; left: 20px; }
