html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;text-align:left}table{border-collapse:collapse;border-spacing:0;}ol,ul{list-style:none;}q:before,q:after,blockquote:before,blockquote:after{content:"";}

body{
	background-color:#ECEDED;
}

a{
	color:#1a1f27;
	text-decoration: none;
}

a:visited{
	color:#1a1f27;
	text-decoration: none;
}

#menu-nav{
	width:160px;
	margin-top:10px;
	float:left;
	font-size:14px;
	font-weight:bold;
	position:relative;
}

#menu-nav li{
	width:160px;
	height:36px;
	background:url(nav-bg.png) no-repeat top left;
}

#menu-nav li a{
	width:160px;
	height:36px;
	display:block;
	overflow:hidden;
	cursor:pointer;
}

#menu-nav li a span{
	width:78px;
	height:36px;
	display:block;
	margin:10px 0 0 50px;
	background-repeat:no-repeat;
	background-position:bottom left;
	background-position:top left;	
	position:relative;
	z-index:50;
	opacity: 0.65;
	color: white;
	font-weight: bold;
}
	
#menu-nav li.nav1 a span{	background-image:url(text-web.png);}	
#menu-nav li.nav2 a span{	background-image:url(text-iphone.png);}	
#menu-nav li.nav3 a span{	background-image:url(text-desktop.png);}	

#menu-nav li.current{
	position:absolute;
	width:	175px;
	height:	36px;
	display:block;
	background:url(nav-cur.png) no-repeat top left;
	top:0px;
	left:0px;
	z-index: -100;
} 
